@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body{
	font-family:"Source Sans Pro";
	background-color: #cad3d3;
}
/*các định dạng màn hình*/
.container{
	max-width: 1170px;
	margin: 0px auto;
	padding: 20px;
}

.table-container{
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
.left, .center, .right{
	margin: 5% auto;
}
@media (max-width: 800px) {
	.table-container{
		flex-direction: column;
	}
	.left, .center, .right{
		margin: 15px auto;
	}
}
/*Dùng chung*/

.item{
	border-radius: 60px;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	z-index: 1;
	position: relative;
	padding-top: 1px;
	text-align: center;
	box-shadow: 1px 2px 1px #cad3d3;
}

.item p{
	font-size: 32px;
	margin-bottom: 0px;
	text-transform: uppercase;
}
.item p+p{
	margin-top: 0px;
	font-size: 16px;
}
.heading{
	background-repeat: no-repeat;
	background-size: 360px 270px;
	text-align: center;
	padding-top: 60px;
	margin-top: -60px;
	width:  360px;
	height:  270px;
}
.heading p{
	font-family: "Montserrat UltraLight";
	font-size: 36px;
}
.heading p+p{
	font-size: 14px;
}
.noidung{
	margin-top: -25px;
	height: 500px;
	width: 360px;
	text-align: center;
	background-color: white;
	padding-top: 1px;
}
.noidung p{
	margin-top: 26px;
	font-size: 24px;
	color: #5f727f;
	margin-bottom: 7px;
}
.noidung p+p{
	margin-top: 7px;
	margin-bottom: 26px;
	font-size: 14px;
	color: #99a9b5;
}
.noidung td{
	width: 360px;
	height: 50px;
	color: #7d8c97;
	font-size: 16px;
}
.noidung tr:nth-child(odd){
	background-color: #f4f6f7;
}
.noidung tr:nth-child(even){
	background-color: white;
}
.content1 a{
	margin: 50px auto;
	display: block;
	width:  170px;
	height:  50px;
	text-decoration: none;
	font-size: 19px;
	line-height: 50px;
}
/*Nội dung trái*/
.left .circle{
	background-color: white;	
}
.left .circle p{
	color: #2196f7;
}
.left .circle p+p{
	color: #99a9b5;
}

.left .content{
	background-image: url("Images/ocean.png");
}
.content p{
	color: white;
}
.content p+p{
	color: #b6c6c9;
}

.noidung a{
	color: #2196f7;
	border: 2px solid #2196f7;
}
.noidung a:hover{
	background: #2196f7;
	color: white;
}
/*Nội dung giữa*/

.center .new{
	text-align: center;
	width: 65px;
	height: 65px;
	background-image: url("Images/newmark.png");
	background-repeat: no-repeat;
	margin-top: 40px;
	margin-left: -10px;
	float: left;
}
.center .new p{
	font-size: 12px;
	color: white;
	font-weight: 700;
	padding-top: 10px;
}
.center .circle{
	background-color: #2c2e3d;
}
.center .circle p{
	color: #d74498;
}
.center .circle p+p{
	color: #99a9b5;
}

.center .content{
	background-image: url("Images/mountain.png");
}

.center .noidung a{
	color: #6c136f;
	border: 2px solid #6c136f;
}
.center .noidung a:hover{
	background: #6c136f;
	color: white;
}
/* Nội dung right*/

.right .circle{
	background-color: white;
}
.right .circle p{
	color: #32ad1e;
}
.right .circle p+p{
	color: #99a9b5;
}

.right .content{
	background-image: url("Images/forest.png");
}
.right .noidung a{
	color: #32ad1e;
	border: 2px solid #32ad1e;
}
.right .noidung a:hover{
	background: #32ad1e;
	color: white;
}
